.FAQs .container .card .card-header .mb-0 .btn{
    color: black;
    white-space:normal !important;
    word-wrap:break-word;
    text-align: justify;
    padding-right: 0px;
    padding-left: 0px;
}





