.footer {
	background-color: #f8f8f8;
	margin-top: auto;
}

/* .fa-facebook {
	color: #3b5998;
}

.fa-instagram {
	color: #f09433;
}

.fa-youtube {
	color: #ff0000;
}

.fa-twitter {
	color: #1d9bf0;
} */

.contact-icon {
	opacity: 0.8;
}

.contact-li > a {
	text-decoration: none;
}

.contact-li:hover .contact-icon {
	opacity: 1;
	/* -webkit-text-stroke: 1px black; */
}
.contact-li{
	width:25px;
}

.enquire {
	float: right;
	margin-left: 10rem;
}

.footer_hostels > ul {
	list-style-type: none;
	font-size: smaller;
	text-align: left;
}
.footer_hostels > span {
	font-size: medium;
}

.footer a {
	color: #999;
	text-decoration: none;
}

.form-control {
	border: 1px solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	resize: none;
	color: #d1d2d2;
	padding: 0.7em 1em;
}
.footer-link{
	width: 10px;
	margin: 5px;
}

ul{
	padding: 0;
}

.footer-heading{
	font-size: medium;
}
.footer-text{
	font-size: smaller;
	color: #999;
}