.hostel-hero {
  height: 75vh;
  margin-bottom: 85px;
}

.hero-heading {
  font-size: xx-large;
  font-weight: 600;
}

.hero-content {
  max-height: 100%;
}

.hero-img {
  border-radius: 15px;
}
.hero-card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #fff;
  border-radius: 15px;
  bottom: -55px;
  width: calc(100% - 70px);
  margin: 0 35px;
  align-items: center;
}

.hostel-name {
  font-weight: 700;
  font-size: 20px !important;
  text-transform: capitalize;
}

.hostel-logo {
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-radius: 65px;
}

.insta{
    font-size: larger;
    color: #000000aa;
    font-weight: bold;
}