.profile-image > img {
  position: absolute;
}
.profile-image {
  position: relative;
  width: 300px;
  height:300px;
}
.profile-img-blur {
  top: 60px;
  bottom: 0;
  left: 20px;
  right: 20px;
  width: CALC(100% - 40px);
  filter: blur(30px);
  /* opacity: 0.65; */
  z-index: 3;
}
.profile-img-main {
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 5;
  width: 100%;
  border-radius: 15px;
}

.profile-info {
  position: absolute;
  backdrop-filter: blur(10px) brightness(.7);
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 6;
  border-radius: 10px;
}

.profile-name{
    color: #fff;
    font-weight: 500;
}
.profile-designation{
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}

.profile-image{
    margin: auto;
    display: flex;
}

