.modal-content{
   border: 0px;
   border-radius: 10px !important;
}

.popup-image{
    border-radius: 10px;
}

.close-button{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: #f0f0f0;
    font-size: smaller;
    /* justify-content: center; */
    display: flex;
    transition: all ease 200ms;
}
.close-button:hover{
    background-color: #e8e8e8;
}

.modal {
    padding-right: 0px !important;
}

.modal-text{
    font-size: smaller;
}