*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#mess-menu{
    padding: 1%;
}

#mess-heading{
    padding-bottom: 1%;
}

#menu-container{
    width: 90%;
    align-items: center;
    align-self: center;
    text-align: center;
    display: flex;
}


.box{
    align-self: center;
    border-radius: 1em;
    background-color: rgb(204, 201, 201);
    margin: 2%;
}

.menu{
    
    position: relative;
    align-items: center;
    align-self: center;
    margin-bottom: 1%;
}
.menu a{
    position: relative;
    align-self: center;
    align-content: center;
    margin: 0 2%;
    font-size: 1.25em;
    color: rgb(8, 8, 8);
    text-decoration: none;
}

#marker{
    position: absolute;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #000;
    bottom: -2px;
    transform: 0.5s;
    border-radius: 4px;
}
